bin/
benchmark/output/*
!benchmark/output/dummy.txt

include/cw/multivec.h

# Visual Studio stuff
*.suo
*.sdf
*.opensdf
*.psess
*.vsp
build/*/test/x64
build/*/test/Win32
build/*/benchmark/x64
build/*/benchmark/Win32
